<% @quotes.each do |quote| %>
  <%= render :partial => 'quote', :locals => { :quote => quote } %>
<% end %>

<%= link_to "Back to top", :anchor => "top" %>

<% content_for :secondary do -%>
  <p><%= link_to "Submit quote", new_quote_url %></p>
  <%= render :partial => 'layouts/quick_settings' %>
<% end -%>